@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applique une transition douce pour la couleur de fond */
body {
  transition: background-color 0.5s ease;
  color: white; /* 0.5s pour la durée de la transition */
}

/* Classe initiale avec bg-slate-950 */
.data-in {
  background-color: #0f172a; /* Valeur de bg-slate-950 (tailwind) */
}

/* Changer la couleur de fond lorsque l'élément est survolé */
.data-in:hover {
  background-color: #0f172a; /* Autre nuance de gris ou une autre couleur que vous préférez */
}

.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover {
  -webkit-text-stroke: 1px #0f172a;
}
/* @layer base {
} */
